[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=forking

ExecStart=/opt/sonar/sonarqube-8.0/bin/linux-x86-64/sonar.sh start
ExecStop=/opt/sonar/sonarqube-8.0/bin/linux-x86-64/sonar.sh stop

User=sonarqube
Group=sonarqube
Restart=always

[Install]
WantedBy=multi-user.target
